*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    font-family:'poppins', sans-serif;
}

.about{
    background-color: #1f242d;
    color: #ffffff;
    padding: 60px 9%;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh; /* Ensure background covers the entire viewport height */
}

.about h1 {
    font-size: 50px;
    font-weight: 700;
    color: #7cf03d; /* Highlight color */
    margin-bottom: 20px;
}

.about p {
    font-size: 18px;
    line-height: 1.6;
    color: #d1d1d1; /* Subtle light gray */
    margin-bottom: 30px;
}

.about .btn {
    background: #7cf03d;
    border: 2px solid #7cf03d;
    color: #1f242d;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 30px;
    border-radius: 40px;
    box-shadow: 0 0 10px #7cf03d;
    transition: .5s;
}

.about .btn:hover {
    background: transparent;
    color: #7cf03d;
    box-shadow: none;
}

@media only screen and (max-width: 600px) {
    .about {
        padding: 30px 5%;
    }

    .about h1 {
        font-size: 35px;
        text-align: center;
    }

    .about p {
        font-size: 14px;
        text-align: center;
        margin-bottom: 20px;
    }

    .about .btn {
        padding: 8px 20px;
        font-size: 14px;
    }
}

@media only screen and (max-width: 1024px) {
    .about {
        padding: 40px 7%;
    }

    .about h1 {
        font-size: 45px;
        text-align: center;
    }

    .about p {
        font-size: 16px;
        line-height: 1.5;
        text-align: center;
        margin-bottom: 25px;
    }

    .about .btn {
        padding: 9px 25px;
        font-size: 15px;
    }
}

@media only screen and (max-width: 1440px) {
    .about {
        padding: 50px 8%;
    }

    .about h1 {
        font-size: 50px;
        text-align: left;
    }

    .about p {
        font-size: 18px;
        line-height: 1.6;
        text-align: left;
        margin-bottom: 30px;
    }

    .about .btn {
        padding: 10px 30px;
        font-size: 16px;
    }
}

.back-to-home {
    position: fixed;
    top: 90%;
    right: 20px;
    padding: 5px 15px;
    background: #7cf03d;
    border: 2px solid #7cf03d;
    border-radius: 5px;
    box-shadow: 0 0 10px #7cf03d;
    font-size: 14px;
    color: #1f242d;
    font-weight: 600;
    transition: .5s;
    cursor: pointer;
    z-index: 10;
}

.back-to-home:hover {
    background: transparent;
    color: #7cf03d;
    box-shadow: none;
}
